@charset "utf-8";
html,body { height:100%; }
body{
	font-size: 12px;
	font-family: Verdana, Arial;
	word-wrap: break-word; }
a{ 	color: red;
	cursor: pointer;
	text-decoration: none; }
	a:hover{ text-decoration: underline; }
h2{ font-size: 15px;
	height: 25px;}
header{
	height: 125px;
	background-color: #dedede;
	background-image: url('./img/bg_1.png');
	background-position: center top;
	background-repeat: repeat-x;
	padding-top: 10px;
}
	header h1{
		overflow: hidden;
		width: 89px;
		height: 69px;
		margin: 0 auto;
		border-radius: 2px 1px 2px 1px;
	}

.main {
	min-height: 100%;
	overflow: hidden;
	margin: 50px auto 0;
	padding-bottom: 100px;
}
.main>div{
	padding-bottom: 30px;
	width: 80%;
	margin: 0 auto;
}
	.main .center h2{ height: 45px; }	
	.main>div.center .article {
		overflow: hidden;
		border-bottom: 1px solid #dedede;
		margin-bottom: 19px;
	}
		.main .article h4{
			float: left;
			max-width: 350px;
			font-weight: bold; }
			.main .article h4 a{
				color: #000;}
				.main .article h4 a:hover{ color: red; }
		.main .article .meta {
			float: right;
			width: 90px;
			padding-bottom: 10px; }
footer{
	height: 125px;
	width: 100%;
	background-color: #1f1f1f;
}

.pc{ display: none; }
.tb{ display: block;}

@media (min-width: 992px) { /* For PC */
 
.main {
	width: 900px;
}

.main>div{
	margin: 0;
}

.main .left {
	width: 200px;
	float: left;
	padding-top: 0px;
}

.main .center {
	width: 460px;
	float: left;
}

.main .right {
	width: 150px;
	float: right;
}
	.main .right h2{
		padding-left: 12px;
	}
 
.pc{ display: block; }
.tb{ display: none;}
}/* PC */



/****
** single
*/
.single .article h4{
	float: none;
	padding-bottom: 20px;
}
.single .article p{
	padding-bottom: 15px;
}